:root {
  --primary-color: #F0F0F0;
  --border-primary-color: #ee2228;
  --hover-primary-color: #f4eaf7;
  --main-text-color: #48505a;
  --sub-text-color: #868E96;
  --border-input-color: #dfdfdf;
  --border-color: #f1f1f1;
  --background-color: #F0F0F0;
  --background-dropdown-action:#3db9dc;;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-user-select {
  -webkit-user-select: none; /* Chrome 49+ */
  -moz-user-select: none; /* Firefox 43+ */
  -ms-user-select: none; /* No support yet */
  user-select: none;
}
